body {
  color: $main;
  font-size: 20px;
  line-height: 24px;
  @extend %sf-400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

.tabs {
  &__content {
    display: none;

    &.tabs__content--active {
      display: block;
    }
  }
}