@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    @extend %sf-700;
  }

  &__box {
    display: flex;
  }

  &__adress {
    margin-right: 60px;
    max-width: 265px;
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/geo.svg');
      width: 30px;
      height: 30px;
      left: 0;
      top: -3px;
    }
  }
}

.menu {
  &__item {
    display: inline-block;

    &+.menu__item {
      padding-left: 50px;
    }
  }
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;

  &__item {
    padding-right: 10px;
  }
}

.basket {
  position: relative;

  &__num {
    position: absolute;
    font-size: 10px;
    line-height: 20px;
    @extend %sf-600;
    color: #fff;
    background-color: $accent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 10px;
    left: 25px;
  }
}

.menu-categories {
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 55px;

  &__link {
    transition: all .3s;
    padding: 15px 0 14px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 3px;
      left: auto;
      right: 0;
      bottom: -2px;
      background-color: $accent;
      transition: all .3s;
    }

    &:hover:before {
      width: 100%;
      left: 0;
      right: auto;
    }

    &:hover {
      color: #000;
    }
  }
}

.banner-section {
  margin-top: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    max-width: 870px;
  }

  &__slider-img {
    object-fit: cover;
    min-height: 400px;
  }

  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    outline: none;
    transition: all .3s;

    &:hover {
      transform: translateY(-50%) scale(1.5);
    }
  }

  &__slider-btnnext {
    right: 20px;
  }

  &__slider-btnprev {
    left: 20px;
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

    li {
      display: inline-block;
      padding: 0 5px;
    }

    button {
      padding: 0;
      font-size: 0;
      margin: 0;
      width: 11px;
      height: 11px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
    }
  }

  .slick-active {
    button {
      background-color: #fff;
    }
  }
}

.sale-item {
  max-width: 265px;
  max-height: 400px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    color: #fff;
    background-color: $accent;
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    @extend %sf-700;
  }

  &__img {
    object-fit: contain;
  }

  &__price {
    text-align: right;
  }

  &__price-new {
    font-size: 27px;
    line-height: 32px;
    @extend %barlow-700;
    color: $accent;
    margin-right: 6px;
    padding-right: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/icon-price.svg');
      right: 0;
      width: 16px;
      height: 18px;
      bottom: 5px;
    }
  }

  &__price-old {
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 15px;
    @extend %barlow-400;
    position: relative;
    background-image: url('../images/icons/old-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 2px 5px;

    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/icon-price-old.svg');
      right: -10px;
      width: 8px;
      height: 10px;
      bottom: 5px;
    }
  }

  &__footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 24px;

    span {
      color: $accent;
      @extend %barlow-700;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 21px;
    @extend %sf-700;
    margin-bottom: 7px;
  }
}

.search {
  &__tabs {
    margin-bottom: 25px;
  }

  &__tabs-item {
    padding: 11px 26px 12px;

    &.tabs__item--active {
      border-radius: 5px;
      background-color: #F0F0F4;
      @extend %sf-700;
    }
  }

  &__content-form {
    display: flex;
  }

  &__content-btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    @extend %sf-700;
    background-color: $accent;
    border-radius: 3px;
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
  }

  &__content-input {
    border: none;
    border-radius: 3px;
    background-color: #F0F0F4;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 19px;
    width: 100%;

    &::placeholder {
      color: #656464;
    }
  }
}

.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:hover .categories__item-title {
      color: $accent;
    }
  }

  &__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img-box {
    text-align: center;
    width: 50%;
  }

  &__item-title {
    font-size: 23px;
    line-height: 28px;
    @extend %sf-700;
    transition: all .3s;
  }

  &__item-text {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    position: relative;

    &::after {
      content: url('../images/icons/back.svg');
      padding-left: 4px;
    }
  }
}

.products {
  margin-bottom: 80px;

  &__title {
    font-size: 25px;
    line-height: 30px;
    @extend %sf-700;
    margin-bottom: 25px;
  }

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab {
    padding-bottom: 10px;

    &.tabs__item--active {
      border-bottom: 2px solid #1C62CD;
    }
  }

  &__tab+.products__tab {
    margin-left: 50px;
  }

  &__more-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background: #F0F0F4;
    padding: 16px 43px;
  }

  &__more {
    text-align: center;
    margin: 35px 0 0;
  }
}

.product-slider {
  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    transition: all .3s;
    outline: none;

    &:hover {
      transform: translateY(-50%) scale(1.5);
    }
  }

  &__slider-btnnext {
    right: -40px;
  }

  &__slider-btnprev {
    left: -40px;
  }

  .draggable {
    padding: 20px 0 20px 15px;
  }
}

.slick-slide img {
  display: inline;
}

.product-item {
  position: relative;
  width: 270px;

  &.product-item--not-available .product-item__price {
    display: none;
  }

  &.product-item--not-available .product-item__notify-text {
    display: block;
  }

  &.product-item--not-available .product-item__basket {
    display: none;
  }

  &.product-item--not-available .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    color: $accent;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    line-height: 19px;

    span {
      border-bottom: 1px solid $accent;
    }
  }

  &.product-item--not-available .product-item__title {
    padding-bottom: 13px;
  }

  &__wrapper {
    width: 270px;
    text-align: center;
    padding: 33px 20px 12px;
    position: relative;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    transition: all .3s;
    height: 400px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 70px 35px;


    &:hover .product-item__hover-text {
      color: $main;
      opacity: 1;
    }

    &--sale::before {
      content: 'sale';
      padding: 6px 15px 8px;
      background-color: $accent;
      position: absolute;
      left: 0;
      top: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.07em;
    }

    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border: 1px solid transparent;
    }

    &:hover .product-item__title {
      color: $accent;
    }

    &:hover .product-item__price {
      color: $accent;
    }

    &:hover .product-item__notify-text {
      color: $main;
    }
  }

  &__img {
    margin: 0 auto;
  }

  &__title {
    @extend %sf-400;
    transition: all .3s;
    max-height: 70px;
    overflow: hidden;
  }

  &__favorite {
    position: absolute;
    top: 15px;
    right: 19px;
    width: 25px;
    height: 22px;
    background-color: transparent;
    border: none;
    z-index: 5;
    outline: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url('../images/icons/heart.svg');
      background-repeat: no-repeat;
    }

    &--active {
      &::before {
        background-image: url('../images/icons/heart-active.svg');
      }
    }
  }

  &__price {
    font-size: 30px;
    line-height: 36px;
    @extend %barlow-700;
    transition: all .3s;
  }

  &__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: $accent;
    border: none;
    border-radius: 10px 0px 3px 0px;
    bottom: 0;
    right: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }

  &__hover-text {
    padding: 18px 21px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    opacity: 0;
    transition: all .3s;
  }

  &__notify-text {
    display: none;
    @extend %sf-700;
    font-size: 18px;
    line-height: 21px;
  }

  &__notify-link {
    display: none;
  }
}

.banner {
  margin-bottom: 80px;
}

.footer {
  background: #F0F0F4;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-newslatter.footer__top-item {
    width: 295px;
    margin-right: 62px;
  }

  &__top-title {
    font-size: 14px;
    line-height: 17px;
    @extend %sf-700;
  }

  &__form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    background-color: #fff;
    border: none;
    outline: none;
    border: 1px solid transparent;
    padding: 0 12px;
    max-width: 200px;

    &:focus {
      border: 1px solid $main;
    }

    &::placeholder {
      color: #C4C4C4;
      font-size: 14px;
      line-height: 17px;
      @extend %sf-400;
    }
  }

  &__form-btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: $accent;
    font-size: 11px;
    line-height: 13px;
    @extend %sf-600;
    color: #fff;
    letter-spacing: 0.12em;
  }

  &__list {
    font-size: 14px;
    line-height: 22px;
  }

  &__top-item {
    width: 200px;
  }

  &__top-social.footer__top-item {
    width: 250px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__social-item+.footer__social-item {
    margin-left: 30px;
  }

  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    margin: 0 40px;
  }
}

.catalog {
  margin-bottom: 100px;

  &__title {
    font-size: 30px;
    line-height: 36px;
    @extend %sf-700;
    margin-bottom: 26px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__filter-button {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    border: none;
    border-radius: 3px;
    padding: 5px 22px;
    background: #F0F0F4;
    cursor: pointer;
    transition: all .3s;
    outline: none;

    &+.catalog__filter-button {
      margin-left: 8px;
    }

    &--active {
      opacity: 1;
      background: #1C62CD;
      color: #fff;
    }
  }

  &__filter-btn {
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;

      &+button {
        margin-left: 10px;
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__inner-aside {
    min-width: 290px;
    margin-right: 10px;
  }

  &__inner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-item {
      margin-bottom: 30px;
    }
  }
}

.aside-filter {
  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    color: #C4C4C4;
    width: 50%;
    text-transform: uppercase;

    &.tabs__item--active {
      color: $main;
      @extend %sf-700;

      span {
        border-bottom: 2px solid $accent;
        display: inline-block;
        padding-bottom: 7px;
      }
    }
  }

  &__list {}

  &__item-drop {
    margin: 40px 0;
  }

  &__item-title {
    font-size: 16px;
    line-height: 19px;
    @extend %sf-600;
    padding-left: 26px;
  }

  &__title-drop {
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-drop.svg');
      width: 12px;
      height: 8px;
      left: 0;
      bottom: 5px;
      transition: all .3s;
      cursor: pointer;
    }

    &--active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    display: flex;
  }

  &__content-box {
    width: 50%;
  }

  &__item-label {
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
  }
}

.filter-style {}





@import 'media';